<div class="about-section">
  <div class="about-content">
    <h4 class="welcome-text">[ WELCOME TO MY PERSONAL PORTFOLIO ]</h4><br>
    <h3 class="greeting"><span>Hello,</span> I am Imen Zarga!</h3> <br>
    <h1 class="role"><span class="highlight">Software</span> Engineer</h1>
    <p class="description">
      Passionate about application design and development, with a strong problem-solving mindset. 
      Eager to contribute to scalable software projects and deepen my expertise in design patterns and system architectures.
    </p>
    <div class="btn-group">
      <a href="Cv_Imen Zarga_fr.pdf" target="_blank" class="btn-primary">My resume</a>
      <button class="btn-secondary">My projects</button>
    </div>
    <p class="tags">#Web_development  #Full_stack  #Design  #Problem_solving</p>
    <div class="social-icons">
      <a href="https://github.com/Imene14" target="_blank"><i class="fa-brands fa-github"></i></a>
      <a href="https://www.linkedin.com/in/imen-zarga/" target="_blank"><i class="fa-brands fa-linkedin-in"></i></a>
      <i class="fa-solid fa-envelope"></i>
      <i class="fa-solid fa-phone-volume"></i>
    </div>
  </div>
  <div class="about-image">
    <img src="design.png" alt="Design Illustration">
  </div>
</div>
<div style="display: flex; justify-content: center;">
  <button (click)="start()" style="color: black; transform: translateY(50px); z-index: 100;">
    Explore
  </button>
</div>
<div class="bottom-curve" style="margin-bottom: 150px;">
  <svg viewBox="0 0 100 10" preserveAspectRatio="none">
    <polygon points="0,0 50,9 100,0" fill="#f1f3f5"/>
  </svg>
</div>