<footer class="footer">
  <div class="footer-container">

    <h2 class="footer-name">Imen Zarga</h2>

    <p class="footer-text">
       Software Engineer | Full-Stack Developer | Java | Spring Boot | Angular
    </p>

    <div class="footer-socials">
      <a href="https://github.com/your-profile" target="_blank" class="social-link">
        <i class="fa-brands fa-github"></i>
      </a>

      <a href="https://linkedin.com/in/your-profile" target="_blank" class="social-link">
        <i class="fa-brands fa-linkedin"></i>
      </a>

      <a href="mailto:youremail@example.com" class="social-link">
        <i class="fa-solid fa-envelope"></i>
      </a>
    </div>

    <p class="footer-copy">
      © 2025 Imen Zarga — All Rights Reserved.
    </p>
  </div>
</footer>
